@font-face {
    font-family: HelveticaNeueCondensedBold;
    src: url('../fonts/HelveticaNeueCondensedBold.eot');
    src: url('../fonts/HelveticaNeueCondensedBold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCondensedBold.woff') format('woff'), url('../fonts/HelveticaNeueCondensedBold.ttf') format('truetype'), url('../fonts/HelveticaNeueCondensedBold.svg#HelveticaNeueCondensedBold') format('svg');
}

html,
body {
    width: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.navbar {
    background-color: rgba(51, 204, 255, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 6em;
    font-family: HelveticaNeueCondensedBold;
    -ms-box-shadow: 0 0 10px 0 rgba(172, 167, 167, 0.63);
    -o-box-shadow: 0 0 10px 0 rgba(172, 167, 167, 0.63);
    -webkit-box-shadow: 0 0 10px 0 rgba(172, 167, 167, 0.63);
    -moz-box-shadow: 0 0 10px 0 rgba(172, 167, 167, 0.63);
    box-shadow: 0 0 10px 0 rgba(172, 167, 167, 0.63);
}

.navbar-header {
    height: 1vh;
}

nav.navbar.navbar-default.navbar-static-top {
    width: 100%;
    position: fixed;
    margin-top: -100px;
}

.container, .tournamentContainer {
    margin-top: 100px;
}

.twitterHeader,
.totalHeader,
.eventHeader {
    text-transform: capitalize;
    font-family: HelveticaNeueCondensedBold;
    letter-spacing: 1px;
}
 
.navbar-brand {
    color: white !important;
    width: 100%;
    padding: 0 !important;
    font-size: 3em;
    padding-left: 15px !important;
    letter-spacing: 3px;
    line-height: 1em;
}

ul.navbar-center li a {
    color: white !important;
    font-size: 2vw !important;
}

@media (max-width: 1303px) {
    ul.navbar-center li a {
        font-size: 1.6vw !important;
    }
}

@media (max-width: 1575px) and (min-width: 768px) {
    ul.navbar-center li a {
        font-size: 2vw !important;
    }
    #navBreak {
        clear: left;
    }
    ul.navbar-center li:first-of-type {
        margin-left: 7vw;
    }
    ul.nav.navbar-nav.navbar-center {
        margin-top: -20px !important;
    }
    ul.nav.navbar-nav.navbar-center li:nth-child(n+5) {
        margin-top: -10px !important;
    }
    ul.nav.navbar-nav.navbar-center li:nth-child(-n+4) {
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }
}

@media (max-width: 941px) {
    .navbar-brand {
        line-height: 1.2em;
        font-size: 2.5em;
    }
}

@media (max-width: 1070px) and (min-width: 942px) {
    .navbar-brand {
        line-height: 1.2em;
        font-size: 2.5em;
    }
}

@media (max-width: 890px) and (min-width: 768px) {
    ul.navbar-center li a {
        font-size: 1.1em !important;
    }
    .navbar-brand {
        line-height: 1.2em;
        font-size: 2.5em;
    }
}

@media (max-width: 767px) {
    ul.navbar-center li a {
        font-size: 1.5em !important;
    }
    ul.navbar-center {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.navbar-nav>li>a {
    font-size: 1.5vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.navbar-nav>li>a:hover {
    color: rgb(235, 235, 235) !important;
}

.heroImage {
    width: 100%;
}

.video {
    width: 50vw;
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float: none;
    }
    .container {
        background-color: #FFF;
        border: 1px #ccc1c1 solid;
        -ms-box-shadow: 0 0 10px 0 rgba(172, 167, 167, 0.63);
        -o-box-shadow: 0 0 10px 0 rgba(172, 167, 167, 0.63);
        -webkit-box-shadow: 0 0 10px 0 rgba(172, 167, 167, 0.63);
        -moz-box-shadow: 0 0 10px 0 rgba(172, 167, 167, 0.63);
        box-shadow: 0 0 10px 0 rgba(172, 167, 167, 0.63);
        padding-bottom: 15px;
    }
    .navbar-nav>li>.active {
        text-decoration: underline;
    }
    .navbar-nav>li>.active:hover {
        text-decoration: underline;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

.row {
    margin-bottom: 15px;
    margin-top: 15px;
}

.navActive {
    text-decoration: underline;
}

.twitterHeader {
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 23px;
}

.twitterContainer {
    width: 95%;
    background-color: #3cf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.twitterContainer iframe {
    width: 100% !important;
}

.totalHeader {
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 23px;
}

.totalContainer {
    width: 95%;
    background-color: #3cf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
}

.eventHeader {
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 23px;
}

.eventContainer {
    width: 95%;
    background-color: #3cf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
}

#waterDropContainer svg {
    margin-top: -40px;
    max-width: 100%;
}

embed#video.embed-responsive-item {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropTextUpper {
    float: left;
    margin-top: -59%;
    margin-left: 50%;
    z-index: 10;
    position: relative;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 180%;
    color: white;
}

#dropTextMiddle {
    float: left;
    margin-top: -50%;
    margin-left: 50%;
    z-index: 10;
    position: relative;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 180%;
    color: white;
}

#dropTextLower {
    color: white;
    text-align: center;
    margin-top: -40px;
}

@media (max-width: 991px) and (min-width: 768px) {
    #dropTextUpper {
        margin-top: -63%;
    }
}

#eventData {
    margin: 1px;
    padding-bottom: 1px;
}

div.eventRow {
    margin-left: 0px;
    width: 100%;
    padding: 10px;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 1px;
}

div.eventRow:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

div.eventRow:last-child {
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.calDetailsHolder {
    border-left: 1px rgb(216, 216, 216) solid;
}

.calDate {
    text-align: center;
    border: 1px rgb(216, 216, 216) solid;
}

.calDateDay {
    margin-bottom: -25px;
    margin-top: 3px;
}

.calDateTitle {
    text-align: center;
    font-size: 25px;
}

.calDateMonth {
    color: rgb(77, 77, 77);
}

.calDateDescription {
    text-align: center;
}

.calDateTime {
    text-align: center;
    margin-top: -10px
}

#carousel-example-generic .carousel-inner .item a img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 767px) {
    a.navbar-brand {
        margin-top: -6%;
        font-size: 9vw;
    }
    button.navbar-toggle {
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -o-transform: translateY(50%);
        transform: translateY(50%);
    }
    .nav>li {
        background-color: rgba(51, 204, 255, 0.75);
        text-align: center;
    }
    .navbar-nav>li>a {
        font-size: 5vw !important;
    }
    ul.nav.navbar-nav.navbar-center {
        margin-top: -0px;
    }
    div.indexGrid {
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    .calDateDay {
        font-size: 14px;
    }
    .calDateMonth {
        font-size: 12px;
    }
    .calDateTitle {
        font-size: 20px;
    }
    #dropTextUpper,
    #dropTextMiddle,
    #dropTextLower {
        font-size: 130%;
    }
}

@media (max-width: 400px) {
    .calDateDay {
        font-size: 16px;
    }
    .calDateMonth {
        font-size: 12px;
    }
    .calDateTitle {
        font-size: 20px;
    }
}

.subPageTitle {
    text-align: center;
    color: #3cf;
    font-family: HelveticaNeueCondensedBold;
}

#instantclick {
    max-width: 100%;
}

#instantclick-bar {
    background: white;
}

.contactRightAlign {
    text-align: right;
}

aside {
    margin-top: 20px;
    text-align: center;
}

.carousel-indicators {
    bottom: -10px !important;
}

.carousel-indicators li {
    border: 1px solid #3cf;
}

.carousel-control {
    opacity: 0;
    background-image: none !important;
}

.carousel-control:hover {
    opacity: 1 !important;
}

.carousel-indicators .active {
    background-color: #3cf !important;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
    color: #3cf;
}

.glyphicon-chevron-left {
    margin-left: -45% !important;
}

.glyphicon-chevron-right {
    margin-right: -45% !important;
}

.subPageArticle p img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
}

.footer .innerFooter {
    position: absolute;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: rgb(98, 98, 98);
    width: 100%;
}

.footer span:after {
    content: '';
    width: 0;
    height: 95%;
    border-right: 1px solid #626262;
    margin-left: 5px;
    margin-right: 5px;
}

.footer a:link {
    color: rgb(98, 98, 98);
    text-decoration: underline;
}

.ballSVG {
    width: 15em;
}

.chipotleSVG {
    width: 15em;
}

.coinSVG {
    width: 13em;
}

.registerArticle,
.contactArticle,
.notFoundArticle,
.donateArticle {
    text-align: center;
}


/* columns of same height styles */

.row-same-height {
    display: table;
    width: 100%;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}


/* firefox fix */

.img-responsive {
    width: 100%;
}


/* vertical alignment styles */

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

.errorImage {
    width: 25%;
}

.contactTable {
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
}

.contactTable td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.contactTable td:first-child {
    padding-right: 7px;
}

.contactTable td:last-child {
    padding-left: 7px;
}

.donateSuccess {
    color: #2ecc71 !important;
}

.donateCancel {
    color: #e74c3c !important;
}

@media (max-width: 768px) {
    div#bs-example-navbar-collapse-1.navbar-collapse.collapse.in,
    div#bs-example-navbar-collapse-1.navbar-collapse.collapsing {
        margin-top: 50px;
    }
    .creditsArticle {
        text-align: center;
    }
}

.donateButton {
    width: 10em;
    height: 3.5em;
    color: white;
    background-color: #3cf;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.donateButtonInverted {
    background-color: white !important;
}

.donateButton:hover {
    background-color: #2be;
}

.donateButtonInverted:hover {
    background-color: #eee;
}

.donateButton a:link {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-decoration: none;
    color: white;
}

.donateButton a:visited {
    color: white;
    text-decoration: none;
}

.donateButton a:hover {
    color: rgb(235, 235, 235) !important;
    text-decoration: none;
}

.donateButton a:click {
    color: rgb(235, 235, 235) !important;
    text-decoration: none;
}

.donateButtonText {
    font-family: HelveticaNeueCondensedBold;
    text-align: center;
    font-size: 1.9em;
    line-height: 3.5em;
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-25%);
}

.donateButtonTextInverted {
    color: #3cf !important;
}

.thumbnail {
    height: 275px;
    text-align: center;
}

.thumbnail:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.thumbnail img {
    max-height: 200px;
    display: inline-block;
    vertical-align: middle;
}

.caption {
    position: absolute;
    top: 80%;
    left: 0;
    text-align: center;
    bottom: 0;
    right: 0;
}

.sponsorsSubPage {
    text-align: center;
}

a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover {
    border-color: #3cf !important;
}

.videoDescription {
    text-align: center;
    font-family: HelveticaNeueCondensedBold;
}

.countDownContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #3cf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-family: HelveticaNeueCondensedBold;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.countDown {
    font-size: 30px;
}

.countDownTitle {
    margin-top: -10px;
}

.dodgeBallArticle p {
    text-align: center;
}

.registerButtonNASH, .registerButtonNAI {
    display: none;
}

.creditsLink {
    text-decoration: none !important;
    color:#3498db !important;
}

.creditsLinl:hover {
    text-decoration: underline !important;
}

.creditsArticle div {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.aboutImage a.thumbnail.down {
    border-color: transparent !important;
}

#parentHeader {
    text-align: center;
    margin-bottom: -20px;
}

.parentImage {
    display: inline-block;
    width: 20vh;
    text-align: center;
    margin-top: -50px;
    margin-right: 5px;
}

.parentTitle {
    display: inline-block;
    text-align: center;
    font-size: 9vh;
    color: #3cf;
    margin-left: 5px;
    font-family: HelveticaNeueCondensedBold;
}

#parentRegisterBox {
    background-color: #3cf;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
}

#parentRegisterBox form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#parentEmailField {
	text-align: left;
}
#parentEmailField::-webkit-input-placeholder {
   text-align: center;
}

#parentEmailField:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

#parentEmailField::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

#parentEmailField:-ms-input-placeholder {  
   text-align: center; 
}

#parentEmailField,
#parentSubmit {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 7px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: none;
    height: 35px;
    font-size: 1.5em;
}

#parentEmailField {
    width: 304px;
    color: #8d8d8d;
    padding-left: 3px;
}

#parentSubmit {
    color: white;
    background-color: #8d8d8d;
    font-family: HelveticaNeueCondensedBold;
}

.parentSubHeader {
    color: #8d8d8d;
    text-align: center;
    font-family: HelveticaNeueCondensedBold;
}

#parentArticle {
    width: 23vw;
    text-align: center;
    color: #8d8d8d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

@media (max-width: 1024px) {
    #parentArticle {
        width: 60%;
    }
}

@media (max-width: 767px) {
    #parentEmailField,
    #parentSubmit {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #parentRegisterBox form {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    #parentRegisterBox {
        width: -webkit-calc(100% - -15px - -15px);
        width: -moz-calc(100% - -15px - -15px);
        width: calc(100% - -15px - -15px);
        margin-left: -15px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    #parentArticle {
        width: 95%;
    }
}

.g-recaptcha div div {
    margin-left: auto;
    margin-right: auto;
}

.thumbnail{
    border: none !important;
}