/* line 1, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.fancyButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #3cf;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  box-shadow: 0px 2px 0px #33aaff, 0px 2px 6px rgba(0, 0, 0, 0.7);
  font-family: HelveticaNeueCondensedBold;
  font-size: 17px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

/* line 22, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.fancyButton:active {
  box-shadow: 0px 2px 0px #33aaff, 0px 2px 2px rgba(0, 0, 0, 0.7); }

/* line 26, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
#tournamentModal .modal-body {
  text-align: center; }

/* line 29, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
input[type=file] {
  margin: 0 auto;
  transform: translateX(40px); }

/* line 34, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.modernTable {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px; }

/* line 40, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.modernTable thead {
  background: #3cf; }

/* line 44, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.modernTable thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  text-align: center; }

/* line 50, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.modernTable thead tr th span {
  padding-right: 20px;
  color: white; }

/* line 56, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.modernTable thead tr th.headerSortUp,
#keywords thead tr th.headerSortDown {
  background: #acc8dd; }

/* line 60, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.modernTable tbody tr {
  color: #555; }

/* line 64, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.modernTable tbody tr td {
  text-align: center;
  padding: 15px 10px; }

/* line 69, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.modernTable tbody tr td.lalign {
  text-align: left; }

/* line 73, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(51, 204, 255, 0.2);
  border-right: 1.1em solid rgba(51, 204, 255, 0.2);
  border-bottom: 1.1em solid rgba(51, 204, 255, 0.2);
  border-left: 1.1em solid #3cf;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

/* line 89, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* line 116, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.fancyForm {
  background-color: #F0F0F0;
  padding-top: 0;
  max-width: 300px;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

/* line 125, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.fancyForm form {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px; }

/* line 132, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.fancyForm input[type=text] {
  border: none;
  border-bottom: 1px solid #4d4d4d;
  background-color: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

/* line 147, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.fancyForm input[type=text]:focus {
  border-bottom: 1px solid #3cf; }

/* line 151, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.fancyForm input[type=submit] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #3cf;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  box-shadow: 0px 2px 0px #33aaff, 0px 2px 6px rgba(0, 0, 0, 0.7);
  font-family: HelveticaNeueCondensedBold;
  font-size: 17px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

/* line 172, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.fancyForm input[type=submit]:active {
  box-shadow: 0px 2px 0px #33aaff, 0px 2px 2px rgba(0, 0, 0, 0.7); }

/* line 176, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.formHeader {
  background-color: #3CF;
  font-family: HelveticaNeueCondensedBold;
  color: white;
  margin-top: -20px;
  height: 60px;
  text-align: center; }

/* line 185, /Users/naapp/Google Drive/Project Water/lunar-caster-87118/css/tournaments.scss */
.formHeader h3 {
  padding-top: 15px; }

/*# sourceMappingURL=tournaments.css.map */